In [1]:
import pandas as pd
data={'product name':[],'price':[],'expiray date':[],'manufactured date':[],'brand':[],'type':[],'size':[],'color':[],
      'property':[],'selling price':[],'cost price':[]}
data

{'product name': [],
 'price': [],
 'expiray date': [],
 'manufactured date': [],
 'brand': [],
 'type': [],
 'size': [],
 'color': [],
 'property': [],
 'selling price': [],
 'cost price': []}

In [2]:
d=pd.DataFrame(data)
d

Empty DataFrame
Columns: [product name, price, expiray date, manufactured date, brand, type, size, color, property, selling price, cost price]
Index: []

In [3]:
import pandas as pd
data={'product name':[],'price':[],'Expiray date':[],'Manufactured date':[],'brand':[],'type':[],'size':[],'color':[],
      'property':[],'selling price':[],'post price':[]}
d1=pd.DataFrame(data)
d1

Empty DataFrame
Columns: [product name, price, Expiray date, Manufactured date, brand, type, size, color, property, selling price, post price]
Index: []

In [4]:
f1=d.to_csv('data.csv')

In [5]:
f1=pd.read_csv('data.csv')
f1

Empty DataFrame
Columns: [Unnamed: 0, product name, price, expiray date, manufactured date, brand, type, size, color, property, selling price, cost price]
Index: []

In [6]:
f2=d1.to_csv('data.csv')
f2=pd.read_csv('data.csv')
f2

Empty DataFrame
Columns: [Unnamed: 0, product name, price, Expiray date, Manufactured date, brand, type, size, color, property, selling price, post price]
Index: []

In [7]:
import string
def matches_column(f1,f2):
    count=0
    import nltk 
    from nltk.corpus import wordnet
    for i in c2:
        for j in d2:
            if (i==j  and wordnet.synsets(i)==wordnet.synsets(j))or i.casefold()==j.casefold():
                    print(i)
                    count=count+1
                                
    print('The number of columns which are matching in two csv files are:' + str(count)) 
    c=[i.lower() for i in c2]
    d=[j.lower() for j in d2]
    for k1 in c2:
        for k2 in d2:
            if k1==k2:
                result=(set(c)-set(d)).union(set(d)-set(c))
    print('The columns which are not matching in both given csv files are:' + str(result)) 
    c3=len(c2)
    d3=len(d2)
    if c3>d3:
        k=c3-d3
        print('csv file 1 contains' + str(k) + 'extra column')
    elif c3==d3:
        print('Both csv files are equal')
    else:
        if c3<d3:
            k1=d3-c3
            print('csv file 2 contains' + str(k1) + 'extra column')
            
a=list(f1.columns)
b=list(f2.columns)
c1=[s.translate(string.punctuation) for s in a]
d1=[s.translate(string.punctuation) for s in b]
c2=[s.replace(" ","") for s in c1]
d2=[s.replace(" ","") for s in d1]
matches_column(f1,f2)

Unnamed:0
productname
price
expiraydate
manufactureddate
brand
type
size
color
property
sellingprice
The number of columns which are matching in two csv files are:11
The columns which are not matching in both given csv files are:{'postprice', 'costprice'}
Both csv files are equal