In [1]:
import pandas as pd
data={'product name':[],'price':[],'expiray date':[],'manufactured date':[],'brand':[],'type':[],'size':[],'color':[],
      'property':[],'selling price':[],'cost price':[]}
data

{'product name': [],
 'price': [],
 'expiray date': [],
 'manufactured date': [],
 'brand': [],
 'type': [],
 'size': [],
 'color': [],
 'property': [],
 'selling price': [],
 'cost price': []}

In [2]:
d=pd.DataFrame(data)
d

Empty DataFrame
Columns: [product name, price, expiray date, manufactured date, brand, type, size, color, property, selling price, cost price]
Index: []

In [3]:
import pandas as pd
data={'product name':[],'price':[],'Expiray date':[],'Manufactured date':[],'brand':[],'type':[],'size':[],'color':[],
      'property':[],'selling price':[],'post price':[]}
d1=pd.DataFrame(data)
d1

Empty DataFrame
Columns: [product name, price, Expiray date, Manufactured date, brand, type, size, color, property, selling price, post price]
Index: []

In [4]:
f1=d.to_csv('data.csv')

In [5]:
f1=pd.read_csv('data.csv')
f1

Empty DataFrame
Columns: [Unnamed: 0, product name, price, expiray date, manufactured date, brand, type, size, color, property, selling price, cost price]
Index: []

In [6]:
f2=d1.to_csv('data.csv')
f2=pd.read_csv('data.csv')
f2

Empty DataFrame
Columns: [Unnamed: 0, product name, price, Expiray date, Manufactured date, brand, type, size, color, property, selling price, post price]
Index: []

In [7]:
a=list(f1.columns)
b=list(f2.columns)
print(a)
print(b)

['Unnamed: 0', 'product name', 'price', 'expiray date', 'manufactured date', 'brand', 'type', 'size', 'color', 'property', 'selling price', 'cost price']
['Unnamed: 0', 'product name', 'price', 'Expiray date', 'Manufactured date', 'brand', 'type', 'size', 'color', 'property', 'selling price', 'post price']

In [8]:
""""import string
c1=[s.translate(string.punctuation) for s in a]
d1=[s.translate(string.punctuation) for s in b]
c2=[s.replace(" ", "") for s in c1]
d2=[s.replace(" ","") for s in d1]"""
  

def matches_found_countmatchescolumn(a,b):
    count=0
    for i in c2:
        for j in d2:
            if i==j or i.casefold()==j.casefold():
                    print(i)
                    count=count+1
                                
    print('The number of columns which are matching in two csv files are:' + str(count))
    
import string   
c1=[s.translate(string.punctuation) for s in a]
d1=[s.translate(string.punctuation) for s in b]
c2=[s.replace(" ","") for s in c1]
d2=[s.replace(" ","") for s in d1]
matches_found_countmatchescolumn(a,b)

Unnamed:0
productname
price
expiraydate
manufactureddate
brand
type
size
color
property
sellingprice
The number of columns which are matching in two csv files are:11

In [9]:
#find only noncommon column in csv files
def remove(c,a,b):
    finallist=[]
    for num in c:
        if num not in finallist:
            finallist.append(num)
    return finallist
c=c2+d2
print(remove(c,a,b))

['Unnamed:0', 'productname', 'price', 'expiraydate', 'manufactureddate', 'brand', 'type', 'size', 'color', 'property', 'sellingprice', 'costprice', 'Expiraydate', 'Manufactureddate', 'postprice']

In [10]:
#counting noncommon coumn in two csv files
def countnonmatches(a,b):
    c=[i.lower() for i in c2]
    d=[j.lower() for j in d2]
    count=0
    for k1 in c2:
        for k2 in d2:
            if k1==k2:
                result=(set(c)-set(d)).union(set(d)-set(c))
                return result
                print(len(result))
                
countnonmatches(a,b)

{'costprice', 'postprice'}

In [11]:
#counting of extra column in two csv files
def extracol(a,b):
    c=len(c1)
    d=len(d1)
    if c>d:
        k=c-d
        print('csv file one contain k extra column')
    elif c==d:
        print('both csv files are equal')
    else:
        k1=d-c
        print('csv file contain k1 extra column')
extracol(a,b)

both csv files are equal

In [12]:
#finding the synonoumous matching
def synchecks(a,b):
    import nltk
    from nltk.corpus import wordnet
    for i in c2:
        for j in d2:
            if (wordnet.synsets(i)==wordnet.synsets(j) and i==j) or i.lower()==j.lower():
                 print(i)
synchecks(a,b)

Unnamed:0
productname
price
expiraydate
manufactureddate
brand
type
size
color
property
sellingprice